/* Featured Products Carousel CSS */
section.featured-products-carousel {
    margin: 4rem 0;
}

.featured-products-carousel .card {
    border: none;
    margin: 0 5px;
}

.featured-products-carousel .slick-prev,
.featured-products-carousel .slick-prev:hover {
    position: absolute;
    left: -2rem;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    color: transparent;
    background: #329BD1;
    border-radius: 50%;
    z-index: 1;
}

.featured-products-carousel .slick-next,
.featured-products-carousel .slick-next:hover {
    position: absolute;
    right: -5rem;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    color: transparent;
    background: #329BD1;
    border-radius: 50%;
}

/*----------------- MOBILE RESPONSIVENESS ----------------*/

@media screen and (max-width: 430px) {

    .featured-products-carousel .slick-prev,
    .featured-products-carousel .slick-next {
        display: none !important;
    }
}