/* AnnouncementBanner CSS */
.announcement-banner .slide {
    display: block !important;
}

.carousel-item {
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    display: none;
}

/* END AnnouncementBanner CSS */

/* Main Nav Menu CSS */
.header .main-nav .container {
    padding: 0 10px !important;
}

.main-nav-menu1 {
    gap: 2rem;
}

.main-nav-menu1 a {
    color: black;
    text-decoration: none;
}

.header #navbar-cart-icon>span>i {
    color: #329BD1;
    font-size: 2rem;
}


/*------------------------ MOBILE RESPONSIVENESS ------------------------*/

@media screen and (max-width: 430px) {
    .main-nav .menus-search-carticon {
        margin-top: 2rem;
    }

    .main-nav .main-nav-menu2 {
        align-items: flex-start !important;
    }

    .main-nav .main-nav-menu2 form {
        margin: 1rem 0;
    }
}