/* AnnouncementBanner CSS */
.custom-carousel {
  /* Hide the next and previous controls */
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }

  /* Hide the indicators */
  .carousel-indicators {
    display: none;
  }
}
/* END AnnouncementBanner CSS */

/* MainNav CSS */
  nav .btn-primary {
    background-color: #329BD1;
  }
/* END MainNav CSS */
