body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global button */
.btn-primary {
  background-color: #329BD1 !important;
  border: #329BD1 !important;
}

.btn-primary:hover {
  background-color: #329BD1 !important;
  border: #329BD1 !important;
}

/* global regular price */
.regular-price {
  text-decoration: line-through;
  margin-right: 5px;
}

/* global sale price */
.sale-price {
  color: #329BD1;
  font-weight: 700;
  font-size: 1.5rem;
}